{% extends 'layout.html.twig' %}

{% block content %}
<form name="create-article-form" method="POST">
    Title: <input type="text" name="title-article"><br>
    Article text : <input type="text" name="text-article"><br>
    <input type="submit">
</form>
{% endblock %}