<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog manga</title>
        <link rel="stylesheet" href="web/style.css">
        <script src="web/script.js"></script>
    </head>
    <body>
        <header>
            METTRE BANNIERE
        </header>
        <nav>
            <ul>
                <li><a href="?action=home">Home</a></li>
                {% if user_id is defined and user_id is not empty %}
                <li><a href="?action=logout">Logout</a></li>
                <li><a href="?action=createArticle">Create an article</a></li>
                {% else %}
                <li><a href="?action=login">Login</a></li>
                <li><a href="?action=register">Register</a></li>
                {% endif %}


            </ul>
        </nav>
        {% if error is defined and error is not empty %}
        <p class="error">Error : {{ error }}</p>
        {% endif %}

        {% block content %}{% endblock %}
        
        <footer>METTRE UN FOOTER</footer>
    </body>
</html>
