{% extends 'layout.html.twig' %}

{% block content %}
    <div id="profile">
        <span id="title">PROFILE OF {{profileToShow[0]}}</span><br/>
        <span class="text">His mail :</span> {{profileToShow[1]}}<br/>
        <span class="text">His pic :</span><br/>
        <img src="assets/default_pic.png" alt="">
        <br/>
    </div>
{% endblock %}